# Ignorar el entorno virtual
venv/

# Archivos de credenciales sensibles
config/credentials.json
config/token.json

# Archivos temporales o de entorno
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
config/.env
